app-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 80vh;
  width: 80vh;
}

app-controls {
  margin: 4px;
  padding: 4px;
}
